body{
    background-color:#722f37 ;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
}
#container{
    width: 75%;
    text-align: center;
    padding-bottom: 20px;
    margin: 0;
    border: 3px solid #623e3e;
    border-bottom: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
h1 {
    color: #623e3e;
    text-align: center;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

#btn {
    padding: px;
    font-size: 15px;
    font-weight: 500px;
    background-color: rgb(255, 166, 0);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    
}

/* li {
    background-color: #722f37;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
} */

button {
    padding: 8px;
    font-size: 14px;
    background-color: white;
    width: 80px;
    color: rgb(255, 166, 0);
    border: 2px solid rgb(255, 166, 0);
    border-radius: 15px;
    cursor: pointer;
}
.task-input {
    display: inline-block;
    margin-right: 10px;
}
.input{
    display: inline-block;
    margin-right: 10px;
}
.input h2{
    color: #623e3e;
} 
#storedtask {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin-bottom: 30px; 
    border: 3px solid #623e3e;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 50vh;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(173, 173, 153);
    border-radius: 5px;
    padding: 15px;
    width: 40vw;
    margin: 10px;
}

.task-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 350px;
    overflow: hidden;
}
#taskDesc{
    color: #623e3e;
    font-size: 15px;
}
#taskD{
    color: chocolate;
    font-size: larger;
}
#edit-button{
    background-color: white;
    border: 2px solid green;
}
#delete-button{
    background-color: white;
    border: 2px solid red;
}

#mid{
    width: 60vw;
    height: 80vh;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
}