body{
    background-color:#722f37 ;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
#container{
    background-color: bisque;
    width: 70%;
    text-align: center;
    padding-bottom: 20px;
    

}
h1 {
    color: bisque;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: wheat;
}

#btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(255, 166, 0);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

li {
    background-color: #722f37;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    padding: 8px;
    font-size: 14px;
    background-color: #957777d8;
    color: bisque;
    border: 2px solid;
    border-radius: 15px;
    cursor: pointer;
}
.task-input {
    display: inline-block;
    margin-right: 10px;
}
.input{
    display: inline-block;
    margin-right: 10px;
}
.input h2{
    color: #623e3e;
} 
#storedtask {
    margin-top: 20px; 
    width: 68.5%;
    margin-bottom: 30px; 
    background-color: bisque;
    border: 3px solid #623e3e;
    height: 50vh;
    padding: 10px;
}
.flex {
    display: flex;
    justify-content: space-between;
}

.task-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 350px;
    overflow: hidden;
}
#taskDesc{
    color: #623e3e;
    font-size: 15px;
}
#taskD{
    color: chocolate;
    font-size: larger;
}

